<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsw.management.admin.mapper.TopicSelectionMapper">

    <resultMap id="BaseResultMap" type="com.lsw.management.admin.model.po.topic.selection.TopicSelection">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="major" column="major" jdbcType="INTEGER"/>
            <result property="studentType" column="student_type" jdbcType="INTEGER"/>
            <result property="studentNum" column="student_num" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="direction" column="direction" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,teacher,
        professional,major,student_type,
        student_num,create_time,update_time,
        deleted,direction
    </sql>

    <sql id="pageList_Colum">
    ts.id,
	ts.title,
	ts.major,
	ts.student_type,
	ts.student_num,
	ts.create_time,
	ts.direction,
	uf.NAME AS teacher_name,
	dp.state,
     dp.department_audit_result ,
        dp.school_audit_result
    </sql>

    <select id="pageList" resultMap="pageList_res">
        SELECT <include refid="pageList_Colum"/>
        FROM
        topic_selection ts
        INNER JOIN design_project_audit_flow dp ON dp.topic_id=ts.id
        LEFT JOIN user_info uf ON uf.id = ts.teacher_id
        <where>
            ts.deleted=0 AND dp.deleted=0
            <if test="queryDto.title != null and queryDto.title != ''">
                AND ts.title LIKE concat('%',#{queryDto.title}, '%')
            </if>
            <if test="queryDto.direction != null and queryDto.direction != ''">
                AND ts.direction LIKE concat('%',#{queryDto.direction}, '%')
            </if>
            <if test="queryDto.major != null and queryDto.major != ''">
                AND ts.major = #{queryDto.major}
            </if>
            <if test="queryDto.studentType != null and queryDto.studentType != ''">
                AND ts.student_type = #{queryDto.studentType}
            </if>
            <if test="queryDto.teacher != null and queryDto.teacher != ''">
                AND uf.name = #{queryDto.teacher}
            </if>
        </where>
    </select>
    <select id="beApproved" resultMap="pageList_res">
        SELECT <include refid="pageList_Colum"/>
        FROM
        topic_selection ts
        INNER JOIN design_project_audit_flow dp ON dp.topic_id=ts.id
        LEFT JOIN user_info uf ON uf.account_id = ts.teacher_id
        <where>
            ts.deleted = 0
            AND dp.deleted = 0
            AND dp.state = 2 AND dp.school_audit_result=1
            <if test="queryDto.title != null and queryDto.title != ''">
                AND ts.title LIKE concat('%',#{queryDto.title}, '%')
            </if>
            <if test="queryDto.direction != null and queryDto.direction != ''">
                AND ts.direction LIKE concat('%',#{queryDto.direction}, '%')
            </if>
            <if test="queryDto.major != null and queryDto.major != ''">
                AND ts.major = #{queryDto.major}
            </if>
            <if test="queryDto.studentType != null and queryDto.studentType != ''">
                AND ts.student_type = #{queryDto.studentType}
            </if>
            <if test="queryDto.teacher != null and queryDto.teacher != ''">
                AND uf.name = #{queryDto.teacher}
            </if>
        </where>
    </select>

    <resultMap id="pageList_res" type="com.lsw.management.admin.model.vo.topic.selection.TopicSelectionVo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
        <result property="major" column="major" jdbcType="INTEGER"/>
        <result property="studentType" column="student_type" jdbcType="INTEGER"/>
        <result property="studentNum" column="student_num" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="direction" column="direction" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="departmentAuditResult" column="department_audit_result" jdbcType="VARCHAR"/>
        <result property="schoolAuditResult" column="school_audit_result" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
